# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# storybook
storybook-static

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
creds.sh
token.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# email alert files
/scripts/alert_emails/users-to-email.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ides
.idea
.tern-port
.vscode/

# cypress debug output
/cypress/videos/
/cypress/screenshots/

# you should use yarn; not npm
package-lock.json

/.nyc_output/

# a scratch file for lil scripts/notes
scratch
