# This file controls the configuration of our Netlify CMS UI+content structure
# 'branch' is the branch where all copy changes made in the CMS UI will be committed
# Netlify CMS docs: https://www.netlifycms.org/docs/intro/

# This is only for region overrides data stored in the covid-data-model repo.

backend:
  name: github
  repo: act-now-coalition/covid-act-now-website
  branch: main
  base_url: https://api.netlify.com

# These aren't used since we don't upload images, but netlify requires them to
# be defined.
media_folder: '/'
public_folder: '/'

collections:
  - name: regionOverrides
    label: Region Overrides
    description: Block metrics, add metric disclaimers, etc.
    format: json
    files:
      - name: regionOverrides
        label: Region Overrides
        file: data/region-overrides.json
        fields:
          - name: overrides
            label: Overrides
            widget: list
            fields:
              - name: region
                label: Region
                hint: Comma-separated string of state codes (2 letters) and FIPS codes (2 or 5 digits)
                widget: string
                pattern: ['^([A-Z][A-Z]|\d{2}|\d{5})(,\s*([A-Z][A-Z]|\d{2}|\d{5}))*$', 'Must be a 2-letter state code or 2 or 5-digit FIPS code']
              - name: include
                label: Include
                widget: select
                default: region
                options:
                  - label: Region only
                    value: region
                  - label: Region and its subregions (e.g. state and its counties & metros)
                    value: region-and-subregions
                  - label: Subregions only (e.g. counties & metros in a state but not the state itself)
                    value: subregions
              - name: metric
                label: Metric
                widget: select
                default: 'metrics.testPositivityRatio'
                options:
                  - label: 'Metric: Daily New Cases'
                    value: 'metrics.caseDensity'
                  - label: 'Metric: Infection Rate'
                    value: 'metrics.infectionRate'
                  - label: 'Metric: Positive Test Rate'
                    value: 'metrics.testPositivityRatio'
                  - label: 'Metric: ICU Capacity Used'
                    value: 'metrics.icuCapacityRatio'
                  - label: 'Metric: Vaccinated'
                    value: 'metrics.vaccinationsInitiatedRatio'
              - name: context
                label: '[Internal] Context'
                widget: string
                hint: Context about this issue (trello links, owner, etc.) - not displayed externally
              - name: blocked
                label: Block Data
                widget: boolean
                default: false
                hint: Block metric data from appearing and being used in the risk level calculation (use start date and end date to only block a subset).
              - name: start_date
                label: "Block Data: Start Date"
                required: false
                widget: datetime
                default: ""
                date_format: "YYYY-MM-DD"
                time_format: ""
                format: "YYYY-MM-DD"
                picker_utc: false
              - name: end_date
                label: "Block Data: End Date"
                required: false
                widget: datetime
                default: ""
                date_format: "YYYY-MM-DD"
                time_format: ""
                format: "YYYY-MM-DD"
                picker_utc: false

              - name: disclaimer
                label: Add Disclaimer
                required: false
                hint: Disclaimer to show below metric chart. Not used if metric is blocked.
                widget: markdown
                minimal: true
