.graphs-container {
}
.small-graph {
  float: left;
  width: 50%;
}

.clear {
  clear: both;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

h4 {
  margin-top: 50px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

th,
td {
  padding: 10px;
  width: 25%;
}
tr {
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .small-graph {
    float: unset;
    width: 100%;
  }
}

.analysis-group {
  background-color: '#fafafa';
  padding: 20;
  margin-top: 20;
}

.stark {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map path:hover {
  opacity: 0.5;
  fill: rgba(0,0,0,0.25);
  cursor: pointer;
}

svg path:focus {
  outline: none;
}

input[type='text'],
textarea {
  font-size: 16px;
}
