name: Upload to http://covidactnow.org.s3-website-us-west-1.amazonaws.com

on:
  push:
    branches:
    - main

jobs:
  build-deploy:
    name: Build_and_Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn install
      - run: yarn build:prod
      - uses: jakejarvis/s3-sync-action@master
        with:
# We don't pass --delete so outdated assets will continue to be served. This ensures browsers with
# cached html files can still fetch the JS assets referred to.
          args: --acl public-read --follow-symlinks
        env:
          AWS_S3_BUCKET: 'covidactnow.org'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-1'   # optional: defaults to us-east-1
          SOURCE_DIR: 'build/'      # optional: defaults to entire repository
