name: Send Alert Emails.

on:
  repository_dispatch:
    types: send-alert-emails
  workflow_dispatch:
    inputs:
      firebase_env:
        description: "Environment to run against (prod, dev, or staging)"
        required: true
        default: prod
      send_emails:
        description: "Whether to actually send emails (true) or just do a safe dry-run (false)."
        required: true
        default: false
      snapshot_id:
        description: "Snapshot to send alerts for (auto uses currently deployed snapshot)."
        required: true
        default: auto

env:
  SNAPSHOT_ID: ${{ github.event.inputs.snapshot_id }}
  # Should be 'dev', 'staging', or 'prod'. Determines which Firebase project to use.
  FIREBASE_ENV: ${{ github.event.inputs.firebase_env }}
  # 'true' or 'false' to indicuate whether we should send the emails or just run (true will send the emails)
  SEND_EMAILS: ${{ github.event.inputs.send_emails }}
jobs:
  send-alert-emails:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: covid-projections/covid-projections
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: yarn install

      # Write appropriate service account file for FIREBASE_ENV.
      - name: Write Dev Service Account
        if: ${{ env.FIREBASE_ENV == 'dev' }}
        run: echo "$SERVICE_ACCOUNT" > scripts/alert_emails/google-service-account.json
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}
      - name: Write Staging Service Account
        if: ${{ env.FIREBASE_ENV == 'staging' }}
        run: echo "$SERVICE_ACCOUNT" > scripts/alert_emails/google-service-account.json
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_STAGING }}
      - name: Write Prod Service Account
        if: ${{ env.FIREBASE_ENV == 'prod' }}
        run: echo "$SERVICE_ACCOUNT" > scripts/alert_emails/google-service-account.json
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PROD }}

      # Generate / send emails.
      - run: yarn generate-daily-alerts ${{ env.SNAPSHOT_ID }}
      - run: yarn create-lists-to-email alerts.json ${{ env.SNAPSHOT_ID }}
      - name: Send emails
        run: yarn send-emails alerts.json ${{ env.SNAPSHOT_ID }} ${{env.SEND_EMAILS}}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # Slack notifications.
      - name: Slack notification
        if: ${{ env.FIREBASE_ENV == 'prod' && job.status != 'success' }}
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          STATUS: ${{job.status}}
        uses: Ilshidur/action-slack@fb92a78a305a399cd6d8ede99d641f2b9224daf3
        with:
          args: '[${{env.FIREBASE_ENV}}] send-alert-emails failed for snapshot ${{env.SNAPSHOT_ID}} send_emails=${{env.SEND_EMAILS}}: {{STATUS}}'
      - name: Slack notification
        if: ${{ env.FIREBASE_ENV == 'prod' && job.status == 'success' && env.SEND_EMAILS == 'true' }}
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          STATUS: ${{job.status}}
        uses: Ilshidur/action-slack@fb92a78a305a399cd6d8ede99d641f2b9224daf3
        with:
          args: '[${{env.FIREBASE_ENV}}] Successfully sent alerts emails for snapshot ${{env.SNAPSHOT_ID}}'
